
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-screen">
    <h1 class="govuk-heading-xl">
      Osprey PIP Case Management Prototype Test
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Prototype index</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"">Version</th>
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header">Date</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"> <a href="homepage.html" class="govuk-link">Version 1</a>
            <td class="govuk-table__cell">Creating MVP prototype focussing on:
            <ul>
            <li>Filtering cases by caseload or statuses</li>
            <li>Searching for the claimant</li>
            <li>Assigning and reassigning cases</li></ul></td>
            <td class="govuk-table__cell">16/09/2022</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"> <a href="/prototype-1/start-2" class="govuk-link">Sprint 2</a>
            <td class="govuk-table__cell">Enter sprint details</td>
            <td class="govuk-table__cell">06/07/2022</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"> <a href="#" class="govuk-link">Sprint 3</a>
            <td class="govuk-table__cell">ENter sprint details</td>
            <td class="govuk-table__cell">06/07/2022</td>
          </tr>
        </tbody>
      </table>

{% endblock %}
